h1 {
    color: rgb(42, 61, 165);
}

* {
    border: solid;
}
p{
    color:rgb(255, 158, 47)
}
.header{
    background-color: rgb(163, 92, 0);
    display:flex;
    justify-content:space-between

}

.links{
    display:flex;
    justify-content:flex-end
}

p,h2{
    text-align:center
}
.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.socials{
    display:flex;
    justify-content:flex-end
}